@model IEnumerable<FirstCore.Models.Data.Classes.City>

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <h2>City List</h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>City Id</th>
                        <th>City Name</th>
                        <th>City Image</th>
                        <th>Related Personel</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.CityId</td>
                            <td>@item.CityName</td>
                            <td><img src="@item.Picture" style="width:120px;" alt="Unknown Operation" /></td>
                            <td>
                                <a class="btn btn-primary" asp-action="RelatedList">Related Personel</a>
                            </td>
                            <td>
                                <a class="btn btn-success" href="/City/Update/@item.CityId">Update</a>
                            </td> 
                            <td>
                                <a class="btn btn-danger" href="/City/Delete/@item.CityId">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <a class="btn btn-primary" asp-action="Create">Create New City</a>
        </div>
    </div>
</div>

