@model MVCWithData.Models.Classes.Unvan
@{
    ViewBag.Title = "UnvanCreate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-7">
        <form method="post">
             <!--Son kullanıcının değiştirmesini engellemmek için gizledik!!-->
            <label>Ad</label>
            <input class="form-control" type="text" name="UnvanAd" /><br />
            <input class="btn btn-primary" type="submit" value="Ekle" />
        </form>
    </div>
</div>

