<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Framework.Properties.Settings.Setting" connectionString="Data Source=DESKTOP-U99L1LV\SQLEXPRESS;Initial Catalog=perdb2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>